.navbar-inverse {
    background-color:#cc0033;
    border: none;
    min-height:60px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
/*background-color:#cc0033;*/
}
.navbar-inverse .navbar-nav > li > a  { color: #fff; }
.navbar-brand img {
    margin:0px;
    padding:3px;
    background-color:#fff;
    border: 1px solid #ccc;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin:0px;padding:0px; }
